body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
}

h1 {
    margin: 0;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 50px;
}

video {
    width: 50%;
    border: 1px solid #ccc;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
}